#### File automatically generate by GitAutoIgnore ####
#<AutoIgnore>
var
pointers
test
my
realloc
pointers_callby_reference
structs
temp
pointers_returnby_reference
thehardway
showsyserr
#<AutoIgnore/>
